{{ range $name, $property := .Properties }}
  <tr>
    <td class="resource">
      {{ if $property.FQNS }}<span class="object">{{ join $property.FQNS "." }}</span>.{{ end }}{{ $property.ID }}
      <p/>
      <div style="height:100px;width:600px;border:1px solid #ccc;font:16px/26px Courier, monospace;overflow:auto;">
        <pre><code>{{ $property.Example }}</code></pre>
      </div>
    </td>
    <!-- <td class="type">{{ index $property.Type 0 }}</td> -->
    <td class="type">{{ join $property.Type " of " }}</td>
    <td>
      {{ safehtml $property.Description }}
      {{ if $property.Enum }}
      <p>Possible values are:</p>
      <ul class="list-bullet">
        {{ range $property.Enum }}
        <li><code>{{ . }}</code></li>
        {{ end }}
      </ul>
      {{ end }}
    </td>
    <td>{{ if not $property.Required }}Optional{{ if $property.ReadOnly }}, read only.{{ end }}
        {{ else }}{{ if $property.ReadOnly }}Read only.{{ end }}{{ end }}</td>
  </tr>
  {{ template "fragments/reference/properties" $property }}
{{ end }}
